* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-style: normal;
    text-decoration: none;
    color: white;
}

header {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    display: flex;
    font-weight: 500;
}

body {
        /* Needed for font */
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        align-items: center;
        background-image: url("test5.jpg");
        max-width: 1000px;
}

/* navigation */
nav a {
    margin-left: 30px;
    color: white;
}

nav a:hover,
nav a.active {
    color: #D9043D;
}

/* Main Text */
section {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#projects,
#contact {
    position: relative;
    left: 50%;
    margin-left: 100px;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 80px;
    max-height: 500px;
    max-width: 1000px;
    font-weight: 500;
    min-height: 100px;
}

.wrapper p{
    font-size: 20px;
    max-width: 875px;
    font-weight: 300;
    display: inline-block;
}

span:before{
    content: '';
    animation: animate infinite 2s;
}
@keyframes animate{
    0%{
        content: 'Developer.';
    }
    50%{
        content: 'Designer.';
    }
    100%{
        content: 'Developer.';
    }
}


.wrapper span {
  }

  span {
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #A99CD9, -0.03em -0.04em 0 #6BCCF2,
      0.025em 0.04em 0 #D9043D;
    animation: glitch 725ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #A99CD9, -0.03em -0.04em 0 #6BCCF2,
        0.025em 0.04em 0 #D9043D;
    }
    15% {
      text-shadow: 0.05em 0 0 #A99CD9, -0.03em -0.04em 0 #6BCCF2,
        0.025em 0.04em 0 #D9043D;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #A99CD9, 0.025em 0.035em 0 #6BCCF2,
        -0.05em -0.05em 0 #D9043D;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #A99CD9, 0.025em 0.035em 0 #6BCCF2,
        -0.05em -0.05em 0 #D9043D;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #A99CD9, 0.03em 0 0 #6BCCF2,
        0 -0.04em 0 #D9043D;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #A99CD9, 0.03em 0 0 #6BCCF2,
        0 -0.04em 0 #D9043D;
    }
    100% {
      text-shadow: -0.05em 0 0 #A99CD9, -0.025em -0.04em 0 #6BCCF2,
        -0.04em -0.025em 0 #D9043D;
    }
  }